<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form id="userForm">
		<p:panel id="userPanel"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<h:outputText value="username" />
					<p:inputText id="username" required="true"
						value="#{administratorManagementBean.username}"></p:inputText>
					<p:outputLabel for="role" value="role " />
					<p:selectOneMenu id="role"
						value="#{administratorManagementBean.role}" style="width:150px">
						<f:selectItem itemLabel="Select role" itemValue=""
							noSelectionOption="false" />
						<f:selectItems value="#{administratorManagementBean.roles}" />
					</p:selectOneMenu>
				</h:panelGrid>
			</h:panelGroup>
			<br />
			<p:commandButton action="#{administratorManagementBean.addUser}"
				ajax="false" value="add user" update="userPanel">
			</p:commandButton>
			<p:commandButton value="show users" type="button"
				onclick="PF('dlgUsers').show();" />
		</p:panel>

		<p:dialog header="All users" widgetVar="dlgUsers" modal="true"
			height="500" width="500">
			<p:dataTable var="user" value="#{administratorManagementBean.users}">
				<p:column headerText="id">
					<h:outputText value="#{user.id}" />
				</p:column>

				<p:column headerText="username">
					<h:outputText value="#{user.username}" />
				</p:column>

				<p:column headerText="role">
					<h:outputText value="#{user.role}" />
				</p:column>
			</p:dataTable>
		</p:dialog>
	</h:form>

	<br />

	<h:form id="daysOffForm">
		<p:panel id="daysOffPanel"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<p:outputLabel for="day" value="day" />
					<p:calendar id="day" value="#{administratorManagementBean.date}"
						showOn="button" />
					<h:outputText value="event" />
					<p:inputText id="event" required="true"
						value="#{administratorManagementBean.eventDescription}"></p:inputText>
				</h:panelGrid>
			</h:panelGroup>
			<br />
			<p:commandButton
				action="#{administratorManagementBean.addLegalDayOff}" ajax="false"
				value="add event" update="daysOffPanel">
			</p:commandButton>
			<p:commandButton value="show events" type="button"
				onclick="PF('dlgEvents').show();" />
		</p:panel>
	</h:form>

	<p:dialog header="Legal days off" widgetVar="dlgEvents" modal="true"
		height="500" width="600">
		<h:form id="daysOffDialog">
			<p:dataTable var="event"
				value="#{administratorManagementBean.events}">
				<p:column headerText="date">
					<h:outputText value="#{event.date}" />
				</p:column>

				<p:column headerText="event description">
					<h:outputText value="#{event.eventDescription}" />
				</p:column>

				<p:column>
					<p:commandButton
						action="#{administratorManagementBean.removeEvent}" value="remove"
						widgetVar="" update="daysOffDialog">
						<f:setPropertyActionListener value="#{event}"
							target="#{administratorManagementBean.eventDescriptionToRemove}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:dialog>
</h:body>
</html>