<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form id="requestDayOff">
		<p:panel id="dayOffPanel"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<p:outputLabel value="start date" />
					<p:calendar id="startDay" required="true"
						value="#{employeeManagementBean.startDate}" showOn="button" />

					<p:outputLabel value="end date" />
					<p:calendar id="endDay" value="#{employeeManagementBean.endDate}"
						showOn="button" required="true" />

					<p:outputLabel value="reason" />
					<p:selectOneMenu id="r" required="true"
						value="#{employeeManagementBean.reason}" style="width:150px">
						<f:selectItem itemLabel="Select reason" itemValue=""
							noSelectionOption="false" />
						<f:selectItems value="#{employeeManagementBean.reasons}" />
					</p:selectOneMenu>
				</h:panelGrid>
			</h:panelGroup>
			<br />
			<p:commandButton action="#{employeeManagementBean.addRequestDayOff}"
				ajax="false" value="add request" update="dayOffPanel">
			</p:commandButton>
		</p:panel>
	</h:form>

	<br />

	<h:form id="employeeReqests">
		<p:panel id="employeeDaysOffRequests"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<p:commandButton value="my requests" type="button"
						onclick="PF('dlgRequests').show();" />
				</h:panelGrid>
			</h:panelGroup>
		</p:panel>
	</h:form>

	<p:dialog header="Your requests" widgetVar="dlgRequests" modal="true"
		height="500" width="600">
		<h:form id="requestsForm">
			<p:dataTable var="req"
				value="#{employeeManagementBean.employeeRequests}">
				<p:column headerText="start date">
					<h:outputText value="#{req.startDate}" />
				</p:column>

				<p:column headerText="end date">
					<h:outputText value="#{req.endDate}" />
				</p:column>

				<p:column headerText="reason">
					<h:outputText value="#{req.reason}" />
				</p:column>

				<p:column headerText="request id">
					<h:outputText value="#{req.requestId}" />
				</p:column>

				<p:column>
					<p:commandButton value="cancel" update="requestsForm"
						action="#{employeeManagementBean.removeRequestDayOff}">
						<f:setPropertyActionListener value="#{req}"
							target="#{employeeManagementBean.requestToRemove}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:dialog>
	<br />

	<h:form id="employeeAcceptedReqests">
		<p:panel id="employeeDaysOff"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<p:commandButton value="show my days off" type="button"
						onclick="PF('dlgEmployee').show();" />
				</h:panelGrid>
			</h:panelGroup>
		</p:panel>
		<p:dialog header="Employee's days off" widgetVar="dlgEmployee"
			modal="true" height="500" width="600">
			<p:dataTable var="employee"
				value="#{employeeManagementBean.employeeDaysOff}">
				<p:column headerText="startDate">
					<h:outputText value="#{employee.startDate}" />
				</p:column>

				<p:column headerText="endDate">
					<h:outputText value="#{employee.endDate}" />
				</p:column>

				<p:column headerText="reason">
					<h:outputText value="#{employee.reason}" />
				</p:column>

			</p:dataTable>
		</p:dialog>
	</h:form>

</h:body>
</html>