<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form id="loginForm">
		<p:panel id="loginPanel"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<h:outputText value="username" />
					<p:inputText id="username" required="true"
						value="#{loginManagementBean.username}"></p:inputText>
					<h:outputText value="password" />
					<p:inputText id="password" required="true"
						value="#{loginManagementBean.password}"></p:inputText>
				</h:panelGrid>
			</h:panelGroup>
			
			<br/>
			
			<p:commandButton action="#{loginManagementBean.doLogin}" ajax="false"
				value="login">
			</p:commandButton>
		</p:panel>
	</h:form>

</h:body>
</html>