<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form id="employeeDaysOffForm">
		<p:panel id="employeeDaysOffPanle"
			style="display:block; text-align:center; margin-left:35%; margin-right:35%">
			<h:panelGroup style="display:block; text-align:center">
				<h:panelGrid columns="2" style="width:100%">
					<h:outputText value="employee id" />
					<p:selectOneMenu id="role"
						value="#{managerManagementBean.employeeId}" style="width:150px">
						<f:selectItem itemLabel="employee id" noSelectionOption="false" />
						<f:selectItems value="#{managerManagementBean.empls}" />
					</p:selectOneMenu>
				</h:panelGrid>
			</h:panelGroup>

			<p:commandButton value="employee's days off" resetValues="true"
				ajax="true" onclick="PF('dlgEmployee').show();" />
				
			<p:dialog header="Employee's days off" widgetVar="dlgEmployee"
				modal="true" height="500" width="700">
				<p:dataTable var="emp"
					value="#{managerManagementBean.employeesDaysOff}">
					<p:column headerText="start date">
						<h:outputText value="#{emp.startDate}" />
					</p:column>

					<p:column headerText="end date">
						<h:outputText value="#{emp.endDate}" />
					</p:column>

					<p:column headerText="reason">
						<h:outputText value="#{emp.reason}" />
					</p:column>
				</p:dataTable>
			</p:dialog>
		</p:panel>

	</h:form>

	<br />

	<h:form id="requestsForm">
		<p:panel id="daysOffPanel"
			style="display:block; text-align:center; margin-left:10%; margin-right:10%">
			<p:dataTable var="req" value="#{managerManagementBean.requests}">
				<p:column headerText="employee name">
					<h:outputText value="#{req.employeeName}" />
				</p:column>

				<p:column headerText="employee id">
					<h:outputText value="#{req.employeeId}" />
				</p:column>

				<p:column headerText="start date">
					<h:outputText value="#{req.startDate}" />
				</p:column>

				<p:column headerText="end date">
					<h:outputText value="#{req.endDate}" />
				</p:column>

				<p:column headerText="reason">
					<h:outputText value="#{req.reason}" />
				</p:column>

				<p:column headerText="request id">
					<h:outputText value="#{req.requestId}" />
				</p:column>

				<p:column>
					<p:commandButton value="accept" update="requestsForm"
						action="#{managerManagementBean.acceptRequest}">
						<f:setPropertyActionListener value="#{req}"
							target="#{managerManagementBean.requestToRemove}" />
					</p:commandButton>
					<p:commandButton value="reject" update="requestsForm"
						action="#{managerManagementBean.rejectRequest}">
						<f:setPropertyActionListener value="#{req}"
							target="#{managerManagementBean.requestToRemove}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
</h:body>
</html>
